@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E2DDE7;
    font-family: 'Caveat', cursive;
    color: #36393B;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

#header-input-container {
    border: 1px solid blue;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header-container, #input-container {
    text-align: center;
    width: 85%;
    margin: .2rem 0;
}

#header-container {
    border: 1px solid green;
}

#input-container {
    border: 1px solid yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#task-input {
    color: #36393B;
    font-size: 1.3rem;
    padding: 0.2rem;
    font-family: 'Caveat', cursive;
    background-color: #F7F0FD;
    border: thin solid #36393B;
    width: 70%;
}

#task-input:focus {
    outline: none !important;
    border: thin solid #36393B;
    box-shadow: 0 0 0.4rem #9d8eae;
}

#task-button {
    background-color: #E8BB20;
    font-size: 1.3rem;
    padding: 0.2rem;
    border: thin solid #36393B;
    border-radius: 0.2rem;
}

#task-button:hover {
    cursor: pointer;
    background-color: #DFAB00;
}

#task-list {
    margin: auto;
    width: 85%;
    background-color: #F7F0FD;
    border: thin solid #36393B;
    border-radius: 0.2rem;
    min-height: 3rem;
}

#task-container {
    border: 1px solid red;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.task-item {
    border: 1px solid lawngreen;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    color: #36393B;
    font-size: 1.4rem;
    background-color: #F7F0FD;
}

.task-time-container {
    display: flex;
    border: 1px solid skyblue;
}

.button-container {
    display: flex;
    border: 1px solid fuchsia;
}

.complete-button, .delete-button {
    padding: 0.3rem;
    color: #36393B;
    border: thin #36393B solid;
    border-radius: 0.2rem;
    font-size: 1.2rem;
}

.complete-button {
    cursor: pointer;
    background-color: #61CECE;
}

.delete-button {
    cursor: pointer;
    margin-right: 0.3rem;
    background-color: #ffa99c;
    /* background-color:#E5F4E3; */
}

.complete-button:hover {
    background-color: #54B8B8;
}

.delete-button:hover {
    background-color: #f58c7c;
    /* background-color: #CBE4C8; */
}

.completed-task {
    background-color: #FFEAA0;
    transition: 0.5s;
}

.fade-strike {
    text-decoration: line-through;
    text-decoration-thickness: 0.06rem;
    opacity: 0.4;
    transition: 0.5s;
}
