* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E2DDE7;
    font-family: 'Caveat', cursive;
    color: #36393B;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

#header-input-container {
    /* border: 1px solid blue; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#header-container {
    /* border: 1px solid green; */
    text-align: center;
    margin-top: 1rem;
}

#input-container {
    /* border: 1px solid yellow; */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#task-input {
    color: #36393B;
    font-size: 1.4rem;
    padding: 0.05rem 0.5rem;
    font-family: 'Caveat', cursive;
    background-color: #F7F0FD;
}

#task-input:focus {
    outline: none;
    border: thin solid #9d8eae;
    box-shadow: 0 0 0.4rem #9d8eae;
}

#task-button {
    color: #36393B;
    background-color: #E8BB20;
    font-size: 1.25rem;
    padding: 0 0.5rem;
    border: thin solid #deb41e;
}

#task-button:focus {
    box-shadow: none;
}

#task-button:hover {
    cursor: pointer;
    color: white;
    background-color: #deb41e;
}

#task-list {
    /* border: 1px solid yellow; */
    width: 75%;
    background-color: #F7F0FD;
    border-radius: 0.25rem;
    padding: 0.4rem;
    box-shadow: 0 0 0.6rem #9d8eae;
}

#task-list:empty { 
    display: none; 
}

#task-container {
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.task-item {
    /* border: 1px solid lawngreen; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0.3rem 0.5rem;
    color: #36393B;
    font-size: 1.4rem;
    background-color: #F7F0FD;
    border-radius: 0.4rem;
    background-color: #FFEAA0;
    border: thin solid #fde58f;
}

.button-container {
    /* border: 1px solid fuchsia; */
    display: flex;
}

.complete-button, .delete-button, .disabled-button {
    padding: 0.2rem 0.4rem 0 0.4rem;
    color: #36393B;
    border: thin #36393B solid;
    font-size: 1.1rem;
}

.complete-button {
    cursor: pointer;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    background-color: #61CECE;
    border: thin solid #54B8B8;
}

.delete-button {
    cursor: pointer;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background-color: #ffa99c;
    border: thin solid #f58c7c;
}

.complete-button:hover {
    color: white;
    background-color: #54B8B8;
}

.delete-button:hover {
    color: white;
    background-color: #f58c7c;
}

.completed-task {
    border: none;
    background-color: #F7F0FD;
}

.fade-strike {
    text-decoration: line-through;
    text-decoration-thickness: 0.06rem;
    opacity: 0.5;
}

.time-placeholder {
    opacity: 0.5;
}

.swal-text {
    font-size: 1.3rem;
    color: #36393B;
}

.swal-button--confirm {
    font-size: 1.1rem;
    color: #36393B;
    background-color: #FFA99C !important;
    border: thin solid #F58C7C;
}

.swal-button--cancel {
    font-size: 1.1rem;
    color: #36393B;
    background-color:  #61CECE !important;
    border: think solid #54B8B8;
}

@media (max-width: 575.98px) { 
    #header-container, #input-container {
        width: 70%;
    }
    #task-list {
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    #header-container, #input-container {
        width: 60%;
    }
    #task-list {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #header-container {
        width: 100%;
    }
    #input-container {
        width: 50%;
    }
    #task-list {
        width: 70%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    #header-container {
        width: 100%;
    }
    #input-container {
        width: 35%;
    }
    #task-list {
        width: 55%;
    }
}

@media (min-width: 1200px) { 
    #header-container {
        width: 100%;
    }
    #input-container {
        width: 25%;
    }
    #task-list {
        width: 45%;
    }
}